header {
    margin-top: 20px;
    margin-bottom: 65px;
}

body {
    background-color: var(--color-grey2);
    color: var(--color-secundary);
    font-family: var(--font-family1);
}

a {
    text-decoration: none;
    color: var(--color-secundary);
}

.mainTextBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 54px;
    margin-bottom: 30px;
}

.mainTextBox > p {
    width: 85%;
    text-align: center;
    margin: 0 auto;
}

.mainTextBox > h1 {
    font-family: var(--font-family2);
    font-size: 3rem;
    font-weight: 700;
}

.clubs-list {
    display: flex;
    flex-direction: column;
    width: 85%;
    margin: 0 auto;
    gap: 20px;
    height: 300px;
    overflow-x: auto;
    margin-bottom: 30px;
    padding: 3px;
}

.clubs-card {
    list-style: none;
    background-color: var(--color-grey1);
    padding: 20px;

}

.iconAndImg {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 15px;
}

.clubName {
    font-size: 1.25rem;
    font-weight: 700;
    font-family: var(--font-family2);
}

.clubDescription {
    margin-bottom: 20px;
    font-size: 1rem;
}

.clubDescription > p + p {
    display: none;
}

.countAndRatingContainer {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.countAndRating {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#join {
    background-color: var(--color-primary);
    color: var(--color-secundary);
    outline: none;
    border: none;
    font-family: var(--font-family1);
    font-weight: 700;
    padding: 3px 20px;
    width: fit-content;
    cursor: pointer;
}

::-webkit-scrollbar {
    background-color: var(--color-grey2);
    width: 11px;
}

::-webkit-scrollbar-thumb {
    background: var(--color-primary);
}

@media (min-width: 769px) {

    header {
        margin-top: 5px;
        margin-bottom: 65px;
    }

    .nav__links > li:hover {
        color: #7FA650;
    }

    body {
        overflow: auto;
    }

    .mainTextBox {
        font-size: 1.625rem;
    }

    .clubs-list {
        height: 349px;
    }

    .clubs-card {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-left: 20px;
        padding: 30px;
    }

    .iconAndImg {
        margin-bottom: 0px;
    }

    .clubDescription {
        width: 333px;
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 24px;
    }

    .clubName {
        font-size: 1.625rem;
    }

    .iconNameAndDescriptionBox {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .countAndRating {
        display: flex;
        gap: 100px;
    }

    .countAndRatingContainer {
        display: flex;
        justify-content: center;
        gap: 40px;
    }

    #join {
        height: 50px;
        align-self: center;
    }

}