/* Estilização da página */

body{
    background-image: url(/src/assets/Backgroundimage3-mini.png);
    background-size: cover;
    background-repeat: no-repeat;

    font-family: var(--font-family1);
}


header{
    padding: 30px 10px;
    gap: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header > a{
    text-decoration: none;
    cursor: pointer;
    color: var(--color-secundary);
}

header > img{
    cursor: pointer;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 15px;

}

section > select{
    padding: 10px;
    width: 300px;

    background-color: var(--color-secundary);
    color: var(--color-primary);

    font-weight: bold;
    font-size: 16px;
}

section > h1{
    
    color: var(--color-primary);
    font-size: 26px;
    font-weight: bold;
}

ul{
    display: flex;
    gap: 15px;
    list-style: none;
    flex-direction: column;
    
    height: 650px;
    overflow-y: scroll;

    scrollbar-color: var(--color-secundary);
}

ul::-webkit-scrollbar{
    background-color: var(--color-secundary);
}

ul::-webkit-scrollbar-thumb{
    background: var(--color-primary);
}

li{
    display: flex;
    flex-direction: column;
    border: solid 1px var(--color-secundary);
    width: 200px;
    max-width: 95%;
    height: 300px;
    padding: 10px;
    gap: 15px;

    background-color: var(--color-secundary);
    
    font-size: 16px;
}

li >h2, h3{
    color: var(--color-primary);
    font-weight: 700;

}

li > p{
    color: black;
    font-weight: 700;
}

li > a{
    text-decoration: none;
    color: #5c1219;

    font-weight: bold;
}

@media (min-width: 1000px){
    body{
        background-image: url(/src/assets/Backgroundimage3.png);
    }
    section{
        display: flex;
        
        padding: 10px;
        gap: 15px;
        flex-direction: column;
        align-items: center;
    }

    section > select{
        width: 800px;
    }

    ul{

        flex-direction: row;
        flex-wrap: wrap;
        width: 950px;
        height: 1024px;

    }

    li{
        flex-direction: row;
        align-items: center;
        width: 900px;
        height: 70px;
    }

    li >h2, h3{
        width: 240px;
    }

    li > p{
        width: 230px;
    }
}