
body{
    width: 100vw;
    height: 100vh;
    font-family: 'Inter', sans-serif;
    background-color: var(--color-grey2);
}
header{
    display: flex;
    align-items: center;
    justify-content: center;
}
main{

    height: 90%;
}
.invite{
    margin-top: 80px;
    margin-left: 20px;
}
.invite h2{
    color: var(--color-secundary);
}
.Hbtn {
    color: var(--color-secundary);
    background-color: var(--color-grey2);
    border: none;

}
.t_box{
    padding: 0;
    list-style: none;
}
.liHeader{
    display: flex;
    background-color: var(--color-primary);
    margin-top: 65px;
}
.liGeral{
    background-color: var(--color-grey1);
    border-bottom: 1px solid var(--color-primary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.liGeral h2{
    color: var(--color-secundary);
}
.liGeral p {
    color: var(--color-secundary);
}
.liGeral h3 {
    color: var(--color-secundary);
}
.liGeral h4 {
    color: var(--color-secundary);
}
.btn1{
    width: 150px;
    height: 48px;
    color: var(--color-secundary);
    background-color: var(--color-primary);
    font-family: 'Inter', sans-serif;
    border: none;
}








@media screen and (min-width: 768px){

body{
background-color: var(--color-grey2);
    }
header{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75px;
}

main{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

.invite{
    margin-top: 130px
    
}
.Hbtn {
    color: var(--color-secundary);
    background-color: var(--color-grey2);
    border: none;
    cursor: pointer;

}
.torneio1{
    width: 1128px;
    height: 865px;
    background-color: var(--color-grey1);
}
.t_box{
    width: 1128px;
    height: 865px;
    list-style: none;
    padding: 0px;
    margin: 0px;
    overflow: auto;
}
.liGeral{
    height: 260px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid var(--color-primary);
}
.liHeader{
    height: 80px;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    background-color: var(--color-primary);
    margin-top: 0px;
}
.liGeral h2{
    color: var(--color-secundary);
}
.liGeral p {
    color: var(--color-secundary);
    margin-left: 13px;

}
.liGeral h3 {
    color: var(--color-secundary);
}
.liGeral h4 {
    color: var(--color-secundary);
}
.divli{
    display: flex;
    gap: 300px;
}
.btn1{
    width: 150px;
    height: 48px;
    color: var(--color-secundary);
    background-color: var(--color-primary);
    cursor: pointer;
}

}