body {
    background-color: var(--color-grey2);
    color: var(--color-secundary);
    font-family: var(--font-family1);
}

a {
    text-decoration: none;
    color: var(--color-secundary);
}

main {
    width: 90%;
    margin: 0 auto;
}

.invite {
    margin-top: 44px;
}

.invite h2 {
    color: var(--color-secundary);
    font-weight: 700;
    margin: 0 auto;
    width: 90%;
    text-align: center;
}

ul > li > h1 {
    align-self: center;
    width: fit-content;
    justify-self: center;
    font-size: 2rem;
    font-weight: 700;
    padding: 13px;
}

.t_box {
    height: 200px;
    display: flex;
    gap: 20px;
    flex-direction: column;
}

li > img {
    width: 35px;
}

.Hbtn {
    color: var(--color-secundary);
    background-color: var(--color-grey2);
    border: none;
}

.liHeader {
    display: flex;
    justify-content: center;
    background-color: var(--color-primary);
    margin-top: 30px;
    gap: 13px;
}

.liGeral {
    background-color: var(--color-grey1);
    border-bottom: 1px solid var(--color-primary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    gap: 20px;
}

.liGeral h2, p, h3, h4 {
    color: var(--color-secundary);
    text-align: center;
    line-height: 24px;
    width: 80%;
}

.btn1 {
    color: var(--color-secundary);
    background-color: var(--color-primary);
    font-family: 'Inter', sans-serif;
    border: none;
    font-size: 1rem;
    padding: 15px;
    font-weight: 700;
    cursor: pointer;
}

@media (min-width: 769px) {

    .nav__container {
        width: 50%;
        display: flex;
        justify-content: center;
    }

    .nav__links > li:hover {
        color: #7FA650;
    }

    main {
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        flex-direction: column;
        gap: 50px;
    }

    .invite {
        margin-top: 44px;
    }

    .invite > h2 {
        font-size: 1.5rem;
        line-height: 3rem;
    }

    .Hbtn {
        color: var(--color-secundary);
        background-color: var(--color-grey2);
        border: none;
        cursor: pointer;
    }

    .t_box {
        width: 90%;
        margin: 0 auto;
        height: 400px;
        overflow: auto;
    }

    .liHeader {
        margin-top: 0px;
    }

    .divli {
        display: flex;
        gap: 300px;
    }

}